<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body class="about-page">
      {{>header}}
      <main>
        <p>This site was created by Orkhan Rzali. It uses
          data from mapbox.com and weatherapi.com!
        </p>
        <img src="images/weather.png" alt="weather icons" />
      </main>
      {{>footer}}
  </body>
</html>